<div class="logobar">
    <div class="container">
        <a href="index.html" class="conference-title">
            CASCON 2025
        </a>
        <div class="subtitle">
            35th IEEE International Conference on Collaborative Advances in Software and Computing
        </div>
        <div class="location">
            Second Student Centre, York University  
            <br>
            15 Library Lane, Toronto, Canada  
        </div>
        <div class="date">
             November 10-13, 2025
        </div>
    </div>
</div>