<div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navigationbar" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navigationbar" class="navigationbar collapse navbar-collapse">
        <ul class="block nav navbar-nav">
          <li class="block"><a href="{{ site.baseurl }}/" class="navigate">Home</a></li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Attending <span class="caret"></span></a>
            <ul class="block dropdown-menu">
              <li class="block"><a href="" class="navigate">Registration</a></li>
              <li class="block"><a href="{{ site.baseurl }}/accomodation.html" class="navigate">Accomodation</a></li>
            </ul>
          </li>
          <li class="block"><a href="{{ site.baseurl }}/sponsorship.html" class="navigate">Sponsorship</a></li>
          <li class="block"><a href="{{ site.baseurl }}/volunteers.html" class="navigate">Student Volunteers</a></li>
          <li class="block"><a href="{{ site.baseurl }}/organization.html" class="navigate">Organization</a></li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Program <span class="caret"></span></a>
            <ul id="program-menu" class="block dropdown-menu">
              <li class="block"><a href="#" data-fltr-type="date" data-fltr-val="Mon 6 Nov 2025" class="navigate">Mon 10 Nov</a></li>
              <li class="block"><a href="#" data-fltr-type="date" data-fltr-val="Tue 8 Nov 2025" class="navigate">Tue 11 Nov</a></li>
              <li class="block"><a href="#" data-fltr-type="date" data-fltr-val="Wed 9 Nov 2025" class="navigate">Wed 12 Nov</a></li>
              <li class="block"><a href="#" data-fltr-type="date" data-fltr-val="Thu 9 Nov 2025" class="navigate">Thu 13 Nov</a></li>
            </ul>
          </li>
          <li id="tracks-in-navbar" class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Tracks <span class="caret"></span></a>
            <ul class="block dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="col-sm-5">
                  <ul class="block multi-column-dropdown">
                    <li class="block dropdown-header">CASCON 2025</li>
                    <li class="dropdown dropdown-submenu">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle"><strong>Workshops</strong></a>
                      <ul class="block dropdown-menu">
                        <li class="block"><a href="{{ site.baseurl }}/tracks/workshops" class="navigate">Call for papers</a></li>
                      </ul>
                    </li>
                    <li class="dropdown dropdown-submenu">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><strong>Artifacts</strong></a>
                        <ul class="block dropdown-menu">
                          <li class="block"><a href="{{ site.baseurl }}/tracks/artifacts" class="navigate">Artifact Evaluation</a></li>
                        </ul>
                      </li>
                      <li class="dropdown dropdown-submenu">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><strong>Tutorials</strong></a>
                        <ul class="block dropdown-menu">
                          <!-- <li class="block"><a href="TEST-2024.html" class="navigate"><span class="glyphicon glyphicon-home"></span> TEST</a></li> -->
                          <li class="block"><a href="{{ site.baseurl }}/tracks/tutorials" class="navigate">
                            Call for Tutorials
                            </a></li>
                        </ul>
                      </li>
                      <li class="dropdown dropdown-submenu">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><strong>Technical Papers</strong></a>
                        <ul class="block dropdown-menu">
                          <!-- <li class="block"><a href="TEST-2024.html" class="navigate"><span class="glyphicon glyphicon-home"></span> TEST</a></li> -->
                          <li class="block"><a href="{{ site.baseurl }}/tracks/research" class="navigate">Call for papers</a></li>
                        </ul>
                      </li>
                      <li class="block"><a href="{{ site.baseurl }}/tracks/posters" class="navigate">Posters</a></li>
                  </ul>
                </div>
                <div class="col-sm-7">
                  <ul class="block multi-column-dropdown">
                    <li class="block dropdown-header">Co-hosted Conferences</li>
                    <!-- <li class="dropdown dropdown-submenu">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle"><strong>TEST</strong></a>
                      <ul class="block dropdown-menu">
                        <li class="block"><a href="TEST-2024.html" class="navigate"><span class="glyphicon glyphicon-home"></span> TEST</a></li>
                        <li class="block"><a href="" class="navigate"><strong>TEST</strong> Research Track</a></li>
                        <li class="block"><a href="" class="navigate"><strong>TEST</strong> Engineering Track</a></li>
                        <li class="block"><a href="" class="navigate"><strong>TEST</strong> Tool Demos Track</a></li>
                      </ul>
                    </li> -->
                  </ul>
                </div>
              </div>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Series <span class="caret"></span></a>
            <ul id="program-menu" class="block dropdown-menu">
              <li class="block"><a href="https://iccsse.github.io/CASCON2024/" data-fltr-type="date" data-fltr-val="Mon 6 Nov 2025" class="navigate">CASCON 2024</a></li>
            </ul>
          </li>
          <!-- <li class="block"><a href="{{ site.baseurl }}/series.html" class="navigate">Series</a></li> -->
        </ul>
      </div>
    </div>
  </div>
