.logobar {
  background: linear-gradient(to right, #f0f0f0, #d9d9d9); /* Light gray gradient */
  padding: 20px;
  text-align: center;
}
.footer-bar {
  width: 100%;
  background-color: #f8f8f8;
  padding: 2px 0px 2px 30px;
}

.footer-box {
  width: 100%;
}

.row {
  margin: 0; /* Remove Bootstrap row negative margin */
}

.conference-title {
  font-size: 28px;
  font-weight: bold;
  color: #0056b3; /* Deep blue */
  text-decoration: none;
  display: block;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #333; /* Dark gray */
  margin-top: 5px;
}

.location {
  font-size: 14px;
  color: #000000; /* Medium gray */
  margin-top: 5px;
}

.date {
  font-size: 14px;
  color: #555; /* Medium gray */
  margin-top: 10px; /* Added extra space */
  margin-bottom: 15px; /* Added space after the date */
}