<!DOCTYPE html>
<html>

{%- include head.html -%}

<body id="home"><div class="frame">

{%- include logobar.html -%}

{%- include navbar.html -%}
  


<!-- SLIDE SHOW -->
<div id="carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-ride="carousel" class="carousel slide carousel-fade">
    <ol class="carousel-indicators">
        <li data-target="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide-to="1"></li>
        <li data-target="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide-to="2"></li>
        <li data-target="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide-to="3"></li>
        <li data-target="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide-to="4"></li>
      </ol>
      
  <div class="carousel-inner" style="background-color: #FFF;">
    
    <div class="item active"><div class="fill" style="background-image:url('images/Conference-Venue-Second-Student-Centre.jpg');"></div>
        <div class="carousel-caption">
            <h3>Conference Venue</h3>
            <h5><p>Second Student Centre</p></h5>
        </div>
    </div>
    <div class="item"><div class="fill" style="background-image:url('images/toronto-architecture-city-guide.jpg');"></div>
      <!-- <div class="attribution">
      </div> -->
        <div class="carousel-caption">
            <h3>Toronto</h3>
            <h5><p>Architecture City Guide</p></h5>
        </div>
    </div>
    <div class="item"><div class="fill" style="background-image:url('images/historical-buildings-toronto.jpg');"></div>
        <div class="carousel-caption">
            <h3>Toronto</h3>
            <h5><p>Historical Buildings</p></h5>
        </div>
    </div>
    <div class="item"><div class="fill" style="background-image:url('images/niagara-falls.jpg');"></div>
        <div class="carousel-caption">
            <h3>Toronto</h3>
            <h5><p>Niagara Falls</p></h5>
        </div>
    </div>
    <div class="item"><div class="fill" style="background-image:url('images/york-university.jpg');"></div>
        <div class="carousel-caption">
            <h3>York University</h3>
        </div>
    </div>
    <a href="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide="prev" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a href="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide="next" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
<!-- SLIDE SHOW -->


<div id="content" class="container"><div class="row">
<div class="col-sm-7">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header"><h2>Call for Contributions and Proposals (CFCP)</h1></div>
        <!-- CONTENT -->
        <!-- <p><strong>Call for Contributions and Proposals (CFCP)</strong></p> -->
        <p><strong>&nbsp;</strong></p>
        <p>CASCON 2025 will be held at York University's Keele campus, which is centrally located in the Greater Toronto Area, Ontario, Canada. The conference will feature world-class keynote speakers, inspiring technical paper presentations, stimulating panels, workforce-building tutorials, community-building workshops, dynamic poster sessions, and terrific networking opportunities.</p>
        <p>CASCON is a premier academic and industrial conference where attendees can explore cutting-edge research, trailblazing practices, and collaboration opportunities in software and computing.</p>
        <p>Over the years, CASCON has fostered a thriving community of software practitioners, developers, researchers, industry leaders, and policymakers who share knowledge, explore new technologies, exchange insights, investigate emerging trends, and showcase next-generation prototypes and solutions.</p>
        <p>CASCON is now co-sponsored by <a href="https://www.computer.org/">IEEE Computer Society</a> and <a href="https://cscan-infocan.ca/">CS-CAN/INFO-CAN,</a> and the proceedings will be published in <a href="https://ieeexplore.ieee.org/">IEEE Xplore</a>. CASCON 2025 will focus on the dynamic and rapidly evolving modern computing landscape, including the convergence of generative AI, advanced automation, hybrid cloud computing, high-performance computing, quantum computing, and responsible &amp; sustainable computing. This landscape is exciting and disruptive, with unparalleled opportunities as well as ethical and regulatory challenges with your contributions and participation.</p>
        <hr>
        <p><strong>Submission Types</strong></p>
        <p>CASCON 2025 calls for the following types of&nbsp; submissions:<br /> </p>
        <ol>
        <li><strong>Regular Papers:</strong> Novel and mature research work (up to 10 pages including references).</li>
        <li><strong>Short Papers:</strong> Work in progress with some validation results, experience reports, new ideas and visionary papers based on supporting theory or evidence, and application papers (up to 6 pages including references).</li>
        <li><strong>Applications/Industrial Papers:</strong> Practical case studies, benchmark tools, and empirical studies addressing real-world industrial challenges (up to 6 pages, including references).</li>
        <li><strong>Artifacts Evaluation:</strong> Authors of regular, short papers and applications/industrial papers accepted for CASCON 2025 can submit an artifact for evaluation. If their corresponding artifacts meet certain conditions, papers will be given the IEEE Open Research Object or Research Object Reviewed badges. The papers will display the awarded badges to recognize their contributions to open science.</li>
        <li><strong>Posters:</strong> New ideas, experiences, ongoing results, and challenges in building Intelligent Systems and Software (up to 2 pages including references).</li>
        <li><strong>Workshops:</strong> Proposals for interactive sessions that provide a forum to present, discuss, and debate issues, problems, ideas, technology gaps, work-in-progress, and/or directions. The workshop format may include position papers, expert panels, and panel discussions. Workshops may be half-day or full-day.</li>
        <li><strong>Tutorials:</strong> These are proposals for interactive sessions that provide excellent opportunities for researchers, practitioners, and technology experts to share cutting-edge solutions, emerging trends, and innovative tools with the broader community. Tutorials may be half-day or full-day.</li>
        </ol>


    </div>






  </div>
</div>
<div class="col-sm-4 col-sm-offset-1 sidebar">


    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-title">
                <span class="glyphicon glyphicon-bullhorn"></span> 
                <a href="#" class="navigate">Important Dates</a>
            </div>
        </div>
        <table class="table table-hover" id="important-dates">

            <tr href="{{ site.baseurl }}/tracks/tutorials" class="clickable-row">
                <td>May 12, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Tutorials Proposal Abstract Due</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/tutorials" class="clickable-row">
                <td>May 19, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Tutorials Full Proposal Due</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/workshops" class="clickable-row">
                <td>May 26, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Workshop Proposal Submission Deadline</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/research" class="clickable-row">
                <td>Jun 2, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Technical Paper Abstract Submission</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/tutorials" class="clickable-row">
                <td>Jun 2, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Tutorials Acceptance Notification</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/artifacts" class="clickable-row">
                <td>Jun 6, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Artifacts Abstract Due</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/research" class="clickable-row">
                <td>Jun 9, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Full Technical Paper Submission</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/workshops" class="clickable-row">
                <td>Jun 9, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Workshop Acceptance Notification</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/artifacts" class="clickable-row">
                <td>Jun 23, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Artifacts Full Submission Due</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/research" class="clickable-row">
                <td>Aug 11, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Technical Paper Acceptance Notification</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/artifacts" class="clickable-row">
                <td>Aug 11, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Artifacts Notification</em>
                </td>
            </tr>
            
        </table>
    </div>
    
    <!-- SPONSORS -->
    <div class="panel panel-warning">
        <div class="panel-heading clearfix">
            <div class="panel-title">Supporters</div>
        </div>
        <table class="table table-hover">
            <tbody>
                <tr href="https://www.computer.org/" title="" class="clickable-row new-window" data-original-title="IEEE Computer Society">
                    <td>
                        <span class="supporter-logo "><img alt="IEEE Computer Society" src="images/sponsors/IEEE.png" class="outputimage"></span>
                    </td>
                </tr>
                <tr href="https://tc.computer.org/tcse/" title="" class="clickable-row new-window" data-original-title="IEEE Technical Community on Software Engineering">
                    <td>
                        <span class="supporter-logo "><img alt="IEEE Technical Community on Software Engineering" src="images/sponsors/TCSE.png" class="outputimage"></span>
                    </td>
                </tr>
                <tr href="https://cscan-infocan.ca/" title="" class="clickable-row new-window" data-original-title="CS-Can | Info-Can">
                    <td>
                        <span class="supporter-logo "><img alt="CS-Can | Info-Can" src="images/sponsors/CS-CAN.png" class="outputimage"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- SPONSORS -->

    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-title">
                <span class="glyphicon glyphicon-road"></span>Tracks
            </div>
        </div>
        <div class="panel-body">
            <div class="all-tracks">
                <a href="{{ site.baseurl }}/tracks/workshops" class="text-muted navigate">Workshops</a> |
                <a href="{{ site.baseurl }}/tracks/tutorials" class="text-muted navigate">Tutorials</a> |
                <a href="{{ site.baseurl }}/tracks/artifacts" class="text-muted navigate">Artifacts</a> |
                <a href="{{ site.baseurl }}/tracks/research" class="text-muted navigate">Technical Papers</a> |
                <a href="{{ site.baseurl }}/tracks/posters" class="text-muted navigate">Posters</a>
            </div>
        </div>
    </div>

    
    <!-- <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-title">
                <span class="glyphicon glyphicon-bullhorn"></span> 
                <a href="#" class="navigate">News</a>
            </div>
        </div>
        <table class="table table-hover">
            <tr href="" class="clickable-row"> 
                <td> Discount
                    <span class="pull-right"><small class="text-muted">Tue 3 Sep 2025</small></span>
                </td>
            </tr>
        </table>
    </div> -->
    
</div>

</div>
</div>
{% include footer.html %}

</body>
</html>
