<!DOCTYPE html>
<html>

{%- include head.html -%}

<body id="home"><div class="frame">

{%- include logobar.html -%}

{%- include navbar.html -%}
  


<!-- SLIDE SHOW -->
<div id="carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-ride="carousel" class="carousel slide carousel-fade">
    <ol class="carousel-indicators">
        <li data-target="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide-to="1"></li>
        <li data-target="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide-to="2"></li>
        <li data-target="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide-to="3"></li>
        <li data-target="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide-to="4"></li>
      </ol>
      
  <div class="carousel-inner" style="background-color: #FFF;">
    
    <div class="item active"><div class="fill" style="background-image:url('images/Conference-Venue-Second-Student-Centre.jpg');"></div>
        <div class="carousel-caption">
            <h3>Conference Venue</h3>
            <h5><p>Second Student Centre</p></h5>
        </div>
    </div>
    <div class="item"><div class="fill" style="background-image:url('images/toronto-architecture-city-guide.jpg');"></div>
      <!-- <div class="attribution">
      </div> -->
        <div class="carousel-caption">
            <h3>Toronto</h3>
            <h5><p>Architecture City Guide</p></h5>
        </div>
    </div>
    <div class="item"><div class="fill" style="background-image:url('images/historical-buildings-toronto.jpg');"></div>
        <div class="carousel-caption">
            <h3>Toronto</h3>
            <h5><p>Historical Buildings</p></h5>
        </div>
    </div>
    <div class="item"><div class="fill" style="background-image:url('images/niagara-falls.jpg');"></div>
        <div class="carousel-caption">
            <h3>Toronto</h3>
            <h5><p>Niagara Falls</p></h5>
        </div>
    </div>
    <div class="item"><div class="fill" style="background-image:url('images/york-university.jpg');"></div>
        <div class="carousel-caption">
            <h3>York University</h3>
        </div>
    </div>
    <a href="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide="prev" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a href="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide="next" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
<!-- SLIDE SHOW -->


<div id="content" class="container"><div class="row">


    <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-12">
                <!-- Tabs Navigation -->
                <ul class="nav nav-tabs justify-content-center" id="customTabs">
                    <li class="nav-item">
                        <button class="nav-link active" data-target="tab2" style="margin-right: 5px;">About the Conference</button>
                    </li>
                    <li class="nav-item" style="margin-bottom: 5px;">
                        <button class="nav-link" data-target="tab1">Call for Contributions and Proposals (CFCP)</button>
                    </li>
                </ul>

                <!-- Tab Content -->
                <div class="tab-content mt-12">
                    <div class="tab-pane active" id="tab2">
                        <div class="page-header"><h2>About CASCON 2025</h2></div>
                        <p>CASCON 2025 will be held at York University's Keele campus, which is centrally located in the Greater Toronto Area, Ontario, Canada. The conference will feature world-class keynote speakers, inspiring technical paper presentations, stimulating panels, workforce-building tutorials, community-building workshops, dynamic poster sessions, and terrific networking opportunities.</p>
                        <p>CASCON is a premier academic and industrial conference where attendees can explore cutting-edge research, trailblazing practices, and collaboration opportunities in software and computing.</p>
                        <p>Over the years, CASCON has fostered a thriving community of software practitioners, developers, researchers, industry leaders, and policymakers who share knowledge, explore new technologies, exchange insights, investigate emerging trends, and showcase next-generation prototypes and solutions.</p>
                        <p>CASCON is now co-sponsored by <a href="https://www.computer.org/">IEEE Computer Society</a> and <a href="https://cscan-infocan.ca/">CS-CAN/INFO-CAN,</a> and the proceedings will be published in <a href="https://ieeexplore.ieee.org/">IEEE Xplore</a>. CASCON 2025 will focus on the dynamic and rapidly evolving modern computing landscape, including the convergence of generative AI, advanced automation, hybrid cloud computing, high-performance computing, quantum computing, and responsible &amp; sustainable computing. This landscape is exciting and disruptive, with unparalleled opportunities as well as ethical and regulatory challenges with your contributions and participation.</p>
                    </div>

                    <div class="tab-pane" id="tab1">
                        <div class="page-header">
                            <h2>Call for Contributions and Proposals (CFCP)</h2>
                        </div>

                        <!-- <p><strong>Call for Contributions</strong></p> -->

                        <p>We invite you to contribute original, unpublished, high-quality manuscripts for the <strong>technical paper track</strong>. We also invite <strong>proposals </strong>for <strong>workforce-building tutorials, community-building workshops, innovative posters, </strong>and <strong>stimulating panels</strong> accessible to a broad and diverse audience of software practitioners, developers, researchers, industry leaders, and policymakers. We encourage contributions with a mix of authors from industry, academia, and government offering innovative solutions and real-world insights.</p>
                        <p>Submissions should address challenges and opportunities spanning the full spectrum of computing and software, including but not limited to:</p>
                        <p><strong>Emerging Software Systems &amp; Architectures</strong></p>
                        <ul>
                        <li><strong>Generative Artificial Intelligence (AI) &amp; Large Language Models (LLMs):</strong> Exploring prompt engineering, retrieval augmented generation (RAG) techniques, and novel applications of AI.</li>
                        <li><strong>Cloud, Edge, Accelerated Computing:</strong> Advances in cloud-native architectures, microservices, and serverless paradigms, especially in modern accelerated and heterogeneous hardware architectures like GPU, NPU, and DPU.</li>
                        <li><strong>Big Data &amp; Real-Time Analytics:</strong> Next-generation platforms for processing and deriving insights from massive and/or real-time datasets.</li>
                        <li><strong>Autonomous and Adaptive Systems:</strong> Digital twins, self-healing networks, and systems that learn and evolve in real time and over extended periods.</li>
                        <li><strong>Software-Enabled Healthcare &amp; Bioinformatics:</strong> AI-driven diagnostics, remote monitoring, and personalized medicine applications.</li>
                        <li><strong>Internet of Things (IoT) &amp; Cyber-Physical Systems (CPS):</strong> Smart cities, Industry 4.0 innovations, and connected ecosystems.</li>
                        <li><strong>Quantum Computing:</strong> Hybrid quantum-classical approaches, distributed quantum computing, quantum software engineering, quantum algorithms, and practical quantum development.</li>
                        <li><strong>Trustworthy &amp; Transparent AI Systems:</strong> Ensuring robustness, explainability, fairness, and accountability in AI-driven systems.</li>
                        <li><strong>Novel Programming Models for Data-Oriented Accelerated Computing:</strong> Emerging programming models to cope with the end of Moore's Law as well as high-performance computing in the context of embedded, AI and classic scientific computing.</li>
                        </ul>
                        <p><strong>Evolving Software Engineering Practices</strong></p>
                        <ul>
                        <li><strong>AI-Driven Development:</strong> Generative AI, automated code generation, intelligent debugging, and machine learning-powered quality assurance.</li>
                        <li><strong>Agentic Software &amp; Intelligent Agents:</strong> Investigations into self-governing, context-aware software that autonomously adapts to changing environments and user needs.</li>
                        <li><strong>Modern DevOps &amp; Continuous Delivery:</strong> Innovations in microservices, containerization, and rapid deployment strategies, genAI-driven and agent-driven automation and toolchains.</li>
                        <li><strong>Software Analytics: </strong>Mining software repositories, software supply chains, and data-driven decision-making in software engineering.</li>
                        <li><strong>Secure Software Lifecycle:</strong> Integrating security best practices into agile and DevOps pipelines, including zero trust architectures.</li>
                        <li><strong>Innovations in Compiler Design:</strong> Novel compiler optimizations, domain-specific languages, just-in-time compilation techniques, and tools that enhance developer productivity and system performance.</li>
                        <li><strong>Compile-time and Run-time Software Quality Assurance:</strong> Software vulnerabilities, software testing, and verification.</li>
                        <li><strong>Open Source Engineering:</strong> Innovation and policies to enable and nourish open source for large-scale projects and initiatives like open source LLMs as well as best practices for establishing open source program offices.</li>
                        </ul>
                        <p><strong>Innovations in AI</strong></p>
                        <ul>
                        <li><strong>Next-Generation AI Techniques:</strong> Advances in deep learning, reinforcement learning, diffusion models, and beyond.</li>
                        <li><strong>Explainable &amp; Responsible AI:</strong> Research for ensuring transparency, ethical considerations, fairness, and societal accountability.</li>
                        <li><strong>Federated and Edge AI:</strong> Distributed AI approaches that preserve data privacy while harnessing edge computing capabilities.</li>
                        <li><strong>AI for Social Impact:</strong> Applications addressing environmental sustainability, disaster response, public health, and social equity.</li>
                        </ul>
                        <p><strong>Cybersecurity &amp; Digital Privacy</strong></p>
                        <ul>
                        <li><strong>Zero Trust Security Models:</strong> Novel frameworks and strategies for threat detection, intrusion prevention, and risk mitigation.</li>
                        <li><strong>Privacy-Enhancing Technologies:</strong> Innovations in differential privacy, homomorphic encryption, and secure multi-party computation.</li>
                        <li><strong>Blockchain &amp; Decentralized Systems:</strong> Emerging trends in decentralized finance (DeFi), trustless systems, and secure distributed ledgers.</li>
                        </ul>
                        <p><strong>Human-Computer Interaction (HCI) &amp; Immersive Experiences</strong></p>
                        <ul>
                        <li><strong>Immersive &amp; Extended Reality:</strong> Advances in augmented reality (AR), virtual reality (VR), and mixed reality for next-gen user experiences.</li>
                        <li><strong>Next-Gen User Interfaces:</strong> Designing intuitive, multimodal interfaces for smart devices, wearables, and mobile ecosystems.</li>
                        <li><strong>Digital Collaboration &amp; Social Media Analytics:</strong> Enhancing interaction and productivity in hybrid work environments, enhancing understanding of online engagement.</li>
                        </ul>
                        <p><strong>Sustainable and Responsible Computing</strong></p>
                        <ul>
                        <li><strong>Green Computing &amp; Sustainability:</strong> Energy-efficient algorithms, sustainable system designs, and eco-friendly computing practices.</li>
                        <li><strong>Responsible AI:</strong> low resource models, energy-efficient training strategies and practices that reduce the energy footprint of Foundation Models like Large Language Models (LLMs).</li>
                        <li><strong>Digital Transformation for Smart Ecosystems:</strong> Leveraging technology to build sustainable smart cities and transformative digital platforms.</li>
                        </ul>
                        
                        <p><strong>Submission Types</strong></p>
                        <p>CASCON 2025 calls for the following types of&nbsp; submissions:<br /> </p>
                        <ol>
                        <li><strong>Regular Papers:</strong> Novel and mature research work (up to 10 pages including references).</li>
                        <li><strong>Short Papers:</strong> Work in progress with some validation results, experience reports, new ideas and visionary papers based on supporting theory or evidence, and application papers (up to 6 pages including references).</li>
                        <li><strong>Applications/Industrial Papers:</strong> Practical case studies, benchmark tools, and empirical studies addressing real-world industrial challenges (up to 6 pages, including references).</li>
                        <li><strong>Artifacts Evaluation:</strong> Authors of regular, short papers and applications/industrial papers accepted for CASCON 2025 can submit an artifact for evaluation. If their corresponding artifacts meet certain conditions, papers will be given the IEEE Open Research Object or Research Object Reviewed badges. The papers will display the awarded badges to recognize their contributions to open science.</li>
                        <li><strong>Posters:</strong> New ideas, experiences, ongoing results, and challenges in building Intelligent Systems and Software (up to 2 pages including references).</li>
                        <li><strong>Workshops:</strong> Proposals for interactive sessions that provide a forum to present, discuss, and debate issues, problems, ideas, technology gaps, work-in-progress, and/or directions. The workshop format may include position papers, expert panels, and panel discussions. Workshops may be half-day or full-day.</li>
                        <li><strong>Tutorials:</strong> These are proposals for interactive sessions that provide excellent opportunities for researchers, practitioners, and technology experts to offer demos and/or hands-on experience with state-of-the-art tools or emerging technologies, or deep dives into advanced research methodology or industrial best practices.  Tutorials may be half-day or full-day.</li>
                        </ol>


                        <p><strong>Paper Instructions</strong></p>
                        <p><span style="font-weight: 400;">Each technical paper must conform at the time of submission to the </span><a href="https://www.ieee.org/conferences/publishing/templates.html"><span style="font-weight: 400;">IEEE Formatting Instructions</span></a><span style="font-weight: 400;"> (i.e., title in 24pt font and full text in 10pt type, LaTEX users must use </span><em><span style="font-weight: 400;">\documentclass[10pt,conference] {IEEEtran}</span></em><span style="font-weight: 400;"> without including the compsoc nor the compsocconf options).</span></p>
                        <p><span style="font-weight: 400;">CASCON 2025 will not accept submissions that have been previously published, are in press, or have been submitted elsewhere. Any article that includes AI-generated content (e.g., text, figures or algorithms) must disclose this in the acknowledgements section. The paper sections containing AI-generated content must include a citation to the used AI system for its generation. Additional submission guidelines are available at</span> <a href="https://conferences.ieeeauthorcenter.ieee.org/author-ethics/guidelines-and-policies/submission-policies/"><span style="font-weight: 400;">Submission Policies - IEEE Author Center Conferences</span></a><span style="font-weight: 400;">.</span></p>
                        <p><span style="font-weight: 400;">Accepted papers will be included in the conference proceedings published in IEEE Xplore. One of the authors of the accepted papers must register and present the paper at the conference. Failure to attend and present the paper at the conference will result in the withdrawal of the paper from the IEEE Xplore proceedings.</span></p>
                        <p><strong>Best Paper Awards</strong></p>
                        <p><span style="font-weight: 400;">Best Paper and Best Student Paper awards will be given to recognize the best technical contributions of the event in terms of originality, clarity, and potential impact. To be eligible for the Best Student Paper award, the primary author(s) of the paper and contributor(s) of the</span></p>
                        <p><span style="font-weight: 400;">work must have been a student(s) at the time the work was done.</span></p>
                        <p><strong>Initial Manuscript Submission Instructions</strong></p>
                        <p><span style="font-weight: 400;">Submissions are made via EasyChair and must be in the double-column standard IEEE format for conference proceedings. All types of papers should strictly follow the page limit constraint to be considered as eligible for review. The defined page limit should include the paper, figures, tables, and references. The steps for submitting a paper are as follows:</span></p>
                        <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Visit EasyChair at </span><a href="https://easychair.org/conferences/?conf=cascon2025"><span style="font-weight: 400;">https://easychair.org/conferences/?conf=cascon2025</span></a></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">After logging in, click on make a new submission to submit your paper</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">All authors should use the </span><a href="https://www.ieee.org/conferences/publishing/templates.html"><span style="font-weight: 400;">IEEE Formatting Instructions</span></a><span style="font-weight: 400;">, which can be obtained from the IEEE Proceedings Template pages</span></li>
                        </ul>
                        <p><span style="font-weight: 400;">CASCON 2025 will employ a double-anonymous review process. Therefore, submissions may not reveal the identity of their authors. The authors must make every effort to honour the double-anonymous review process. In particular:</span></p>
                        <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Authors' names must be omitted from the submission.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">All references to the author's prior work should be in the third person.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">While authors can upload preprints on ArXiV or similar sites, they should avoid specifying that the manuscript was submitted to CASCON.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Authors should not publicly use the submission title during the review (e.g., in social media posts).</span></li>
                        </ul>
                        <p><span style="font-weight: 400;">We look forward to your submissions that push the boundaries of research and tackle today&rsquo;s most pressing technology challenges and trends. Join us at CASCON 2025 to drive innovation, foster knowledge exchange, and bridge the gap between groundbreaking research and industrial application.</span></p>
                        <p><strong>Camera-Ready Submission Instructions</strong></p>
                        <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Instructions for camera-ready manuscript submission will be sent to accepted contribution authors with the notification messages.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Submission of camera-ready manuscripts will be through IEEE Publication Services.</span></li>
                        </ul>

                        <p><strong>Links to Tracks and Submission Deadlines</strong></p>
                        <p>For further details on tracks and guidelines, please refer to the respective links below:</p>
                        <p><strong>Tutorial Proposal</strong></p>
                        <p><a href="https://cascon.ca/tracks/tutorials">https://cascon.ca/tracks/tutorials</a></p>
                        <ul>
                        <li>Tutorial abstract submission: May 12, 2025</li>
                        <li>Full proposal submission: May 19, 2025</li>
                        <li>Acceptance notification: June 9, 2025</li>
                        <li>Tutorial dates: Nov 10-13, 2025</li>
                        </ul>
                        <p><strong>Workshop Proposal</strong></p>
                        <p><a href="https://cascon.ca/tracks/workshops">https://cascon.ca/tracks/workshops</a></p>
                        <ul>
                        <li>Proposal abstract submission deadline: May 12, 2025</li>
                        <li>Proposal full submission deadline: May 19, 2025</li>
                        <li>Acceptance notification: June 9, 2025</li>
                        <li>Workshop dates: Nov 10-13, 2025</li>
                        </ul>
                        <p><strong>Poster Proposal</strong></p>
                        <p><a href="https://cascon.ca/tracks/posters">https://cascon.ca/tracks/posters</a></p>
                        <ul>
                        <li>Poster abstract submission: TBD</li>
                        <li>Full poster proposal submission: TBD</li>
                        <li>Acceptance notification: TBD</li>
                        <li>Poster session dates: Nov 10-13, 2025</li>
                        </ul>
                        <p><strong>Technical Paper</strong></p>
                        <p><a href="https://cascon.ca/tracks/research">https://cascon.ca/tracks/research</a></p>
                        <ul>
                        <li>Technical paper abstract submission: Jun 2, 2025</li>
                        <li>Full technical paper submission: Jun 9, 2025</li>
                        <li>Acceptance notification: Aug 11, 2025</li>
                        <li>Technical paper presentation dates: Nov 10-13, 2025</li>
                        </ul>
                        <p><strong>Artifact Evaluation </strong></p>
                        <p><a href="https://cascon.ca/tracks/artifacts">https://cascon.ca/tracks/artifacts</a></p>
                        <ul>
                        <li>Artifact paper abstract: Aug 18, 2025</li>
                        <li>Full artifact paper submission: Aug 25, 2025</li>
                        <li>Acceptance notification: Sep 29, 2025</li>
                        <li>Technical paper presentation dates: Nov 10-13, 2025</li>
                        </ul>
                        <p><strong>Camera-Ready Submission Instructions</strong></p>
                        <ul>
                        <li>Instructions for camera-ready manuscript submission will be sent to accepted contribution authors with the notification messages.</li>
                        <li>Submission of camera-ready manuscripts will be through IEEE Publication Services.</li>
                        </ul>

                      <p><span style="font-weight: 400;">Subscription to CASCON mailing list at <a href="https://forms.gle/AGB5cKmuUtbgMjMZ6" target="_blank">https://forms.gle/AGB5cKmuUtbgMjMZ6</a></span></p>


                    </div>


                </div>
            </div>
        </div>
    </div>


<div class="col-sm-4 col-sm-offset-1 sidebar">


    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-title">
                <span class="glyphicon glyphicon-bullhorn"></span> 
                <a href="#" class="navigate">Important Dates</a>
            </div>
        </div>
        <table class="table table-hover" id="important-dates">

            <tr href="{{ site.baseurl }}/tracks/tutorials" class="clickable-row">
                <td>May 12, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Tutorials Proposal Abstract Due</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/workshops" class="clickable-row">
                <td>May 12, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Workshops Proposal Abstract Submission Deadline</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/tutorials" class="clickable-row">
                <td>May 19, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Tutorials Full Proposal Due</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/workshops" class="clickable-row">
                <td>May 19, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Workshops Proposal Full Submission Deadline</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/research" class="clickable-row">
                <td>Jun 2, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Technical Paper Abstract Submission</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/tutorials" class="clickable-row">
                <td>Jun 9, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Tutorials Acceptance Notification</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/research" class="clickable-row">
                <td>Jun 9, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Full Technical Paper Submission</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/workshops" class="clickable-row">
                <td>Jun 9, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Workshops Acceptance Notification</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/research" class="clickable-row">
                <td>Aug 11, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Technical Paper Acceptance Notification</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/artifacts" class="clickable-row">
                <td>Aug 18, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Artifacts Submission Registration Due</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/artifacts" class="clickable-row">
                <td>Aug 25, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Artifacts Full Submission Due</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/artifacts" class="clickable-row">
                <td>Sep 29, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Artifacts Acceptance Notification</em>
                </td>
            </tr>
            
        </table>
    </div>
    
    <!-- SPONSORS -->
    <div class="panel panel-warning">
        <div class="panel-heading clearfix">
            <div class="panel-title">Supporters</div>
        </div>
        <table class="table table-hover">
            <tbody>
                <tr href="https://www.computer.org/" title="" class="clickable-row new-window" data-original-title="IEEE Computer Society">
                    <td>
                        <span class="supporter-logo "><img alt="IEEE Computer Society" src="images/sponsors/IEEE.png" class="outputimage"></span>
                    </td>
                </tr>
                <tr href="https://tc.computer.org/tcse/" title="" class="clickable-row new-window" data-original-title="IEEE Technical Community on Software Engineering">
                    <td>
                        <span class="supporter-logo "><img alt="IEEE Technical Community on Software Engineering" src="images/sponsors/TCSE.png" class="outputimage"></span>
                    </td>
                </tr>
                <tr href="https://cscan-infocan.ca/" title="" class="clickable-row new-window" data-original-title="CS-Can | Info-Can">
                    <td>
                        <span class="supporter-logo "><img alt="CS-Can | Info-Can" src="images/sponsors/CS-CAN.png" class="outputimage"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- SPONSORS -->

    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-title">
                <span class="glyphicon glyphicon-road"></span>Tracks
            </div>
        </div>
        <div class="panel-body">
            <div class="all-tracks">
                <a href="{{ site.baseurl }}/tracks/workshops" class="text-muted navigate">Workshops</a> |
                <a href="{{ site.baseurl }}/tracks/tutorials" class="text-muted navigate">Tutorials</a> |
                <a href="{{ site.baseurl }}/tracks/artifacts" class="text-muted navigate">Artifacts</a> |
                <a href="{{ site.baseurl }}/tracks/research" class="text-muted navigate">Technical Papers</a> |
                <a href="{{ site.baseurl }}/tracks/posters" class="text-muted navigate">Posters</a>
            </div>
        </div>
    </div>

    
    <!-- <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-title">
                <span class="glyphicon glyphicon-bullhorn"></span> 
                <a href="#" class="navigate">News</a>
            </div>
        </div>
        <table class="table table-hover">
            <tr href="" class="clickable-row"> 
                <td> Discount
                    <span class="pull-right"><small class="text-muted">Tue 3 Sep 2025</small></span>
                </td>
            </tr>
        </table>
    </div> -->
    
</div>

</div>
</div>
{% include footer.html %}

</body>
</html>
