<!DOCTYPE html>
<html>

{%- include head.html -%}

<body id="home"><div class="frame">

{%- include logobar.html -%}

{%- include navbar.html -%}
  


<!-- SLIDE SHOW -->
<div id="carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-ride="carousel" class="carousel slide carousel-fade">
    <ol class="carousel-indicators">
        <li data-target="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide-to="1"></li>
        <li data-target="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide-to="2"></li>
        <li data-target="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide-to="3"></li>
        <li data-target="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide-to="4"></li>
      </ol>
      
  <div class="carousel-inner" style="background-color: #FFF;">
    
    <div class="item active"><div class="fill" style="background-image:url('images/Conference-Venue-Second-Student-Centre.jpg');"></div>
        <div class="carousel-caption">
            <h3>Conference Venue</h3>
            <h5><p>Second Student Centre</p></h5>
        </div>
    </div>
    <div class="item"><div class="fill" style="background-image:url('images/toronto-architecture-city-guide.jpg');"></div>
      <!-- <div class="attribution">
      </div> -->
        <div class="carousel-caption">
            <h3>Toronto</h3>
            <h5><p>Architecture City Guide</p></h5>
        </div>
    </div>
    <div class="item"><div class="fill" style="background-image:url('images/historical-buildings-toronto.jpg');"></div>
        <div class="carousel-caption">
            <h3>Toronto</h3>
            <h5><p>Historical Buildings</p></h5>
        </div>
    </div>
    <div class="item"><div class="fill" style="background-image:url('images/niagara-falls.jpg');"></div>
        <div class="carousel-caption">
            <h3>Toronto</h3>
            <h5><p>Niagara Falls</p></h5>
        </div>
    </div>
    <div class="item"><div class="fill" style="background-image:url('images/york-university.jpg');"></div>
        <div class="carousel-caption">
            <h3>York University</h3>
        </div>
    </div>
    <a href="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide="prev" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a href="#carousel-d90bafdc-f6ff-491f-b1fb-310b807defe0" data-slide="next" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
<!-- SLIDE SHOW -->


<div id="content" class="container"><div class="row">
<div class="col-sm-7">
  <div class="row">
    <!-- <div class="col-sm-12">
      <div class="page-header"><h1>CASCON 2025</h1></div>
    </div> -->
  </div>
</div>
<div class="col-sm-4 col-sm-offset-1 sidebar">
    <!-- <div class="panel panel-warning">
        <div class="panel-heading clearfix">
            <div class="panel-title">Supporters</div>
        </div>
        <table class="table table-hover">
        </table>
    </div> -->
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-title">
                <span class="glyphicon glyphicon-bullhorn"></span> 
                <a href="#" class="navigate">Important Dates</a>
            </div>
        </div>
        <table class="table table-hover" id="important-dates">

            <tr href="{{ site.baseurl }}/tracks/tutorials" class="clickable-row">
                <td>May 12, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Tutorials Proposal Abstract Due</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/tutorials" class="clickable-row">
                <td>May 19, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Tutorials Full Proposal Due</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/workshops" class="clickable-row">
                <td>May 26, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Workshop Proposal Submission Deadline</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/tutorials" class="clickable-row">
                <td>Jun 2, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Tutorials Acceptance Notification</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/artifacts" class="clickable-row">
                <td>Jun 6, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Artifacts Abstract Due</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/workshops" class="clickable-row">
                <td>Jun 9, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Workshop Acceptance Notification</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/artifacts" class="clickable-row">
                <td>Jun 23, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Artifacts Full Submission Due</em>
                </td>
            </tr>
            <tr href="{{ site.baseurl }}/tracks/artifacts" class="clickable-row">
                <td>Aug 11, 2025 <span title="" data-original-title="Timezone: AoE (UTC-12h)">
                    <small><span class="glyphicon glyphicon-time"></span></small></span><br>
                    <em class="text-primary">Artifacts Notification</em>
                </td>
            </tr>
            
        </table>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-title">
                <span class="glyphicon glyphicon-road"></span>Tracks
            </div>
        </div>
        <div class="panel-body">
            <div class="all-tracks">
                <a href="{{ site.baseurl }}/tracks/workshops" class="text-muted navigate">Workshops</a> |
                <a href="{{ site.baseurl }}/tracks/tutorials" class="text-muted navigate">Tutorials</a> |
                <a href="{{ site.baseurl }}/tracks/artifacts" class="text-muted navigate">Artifacts</a>
            </div>
        </div>
    </div>
    <!-- <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="panel-title">
                <span class="glyphicon glyphicon-bullhorn"></span> 
                <a href="#" class="navigate">News</a>
            </div>
        </div>
        <table class="table table-hover">
            <tr href="" class="clickable-row">
                <td> Discount
                    <span class="pull-right"><small class="text-muted">Tue 3 Sep 2025</small></span>
                </td>
            </tr>
        </table>
    </div> -->
    
</div>

</div>
</div>
{% include footer.html %}

</body>
</html>
